@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');

:root{
    --primary-color:#ff7200;
    --secondery-color:#1D1B20;
}
body{
    font-family:Inkut, Antiqua;
    height: 100vh;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 16px;
    align-items: center;
   

}
.logo{
    font-size: 32px;
    color: var(--primary-color);
}
.nav-links{
    display: flex;
    list-style: none;
    gap: 12px;
}
a{
    text-decoration: none;
    font-size: 20px;
}
.nav-links a{
    color: var(--secondery-color);
}
.nav-links a:hover{
    color:var(--primary-color);
}
.hero{
    display: flex;
    padding: 16px;
    justify-content: space-around;
    
}
.hero .left-hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    justify-content: center;
}
.hero .left-hero .headline{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}
.main-text{
    font-size: 48px;
    font-weight: 900;
    color: var(--primary-color);
}
.secondery-text{
    font-size: 18px;
    color: var(--secondery-color);
   
}
.hero .left-hero .cta-button a{
    padding: 12px 32px;
    background-color: var(--primary-color);
    color: var(--secondery-color);
    border-radius: 12px;
 
}
.hero .left-hero .cta-button a:hover{
    background-color: var(--secondery-color);
    color: white;
}