@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');

:root{
    --primary-color:#ff7200;
    --secondery-color:#1D1B20;
}
body{
    font-family:Inkut, Antiqua;
    height: 100vh;
    width: 100%;
    margin: 0;
    
}